/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/* Portrait layout (default) */
.app {
    
    position:absolute;             /* position in the center of the screen */
    left:40%;
    top:40%;
    height:350px;                   /* text area height */
    width:350px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;*/  /* padding-top + padding-bottom + text area = image height */
     /*   margin:-90px 0px 0px -198px;*/  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    /*}
}*/

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

a {
    font-weight: bold;
    font-family: Courier,"Courier New","Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

.img-responsive {
    max-width: 70%;
    max-height: auto;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#middleCol, #middleAdCol, #botMidAdCol {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #A8A8A8;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #A8A8A8;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
 

    .shrink {
      /*  -moz-transform: scale(0.75, 0.75);
        -webkit-transform: scale(0.75, 0.75);
        -o-transform: scale(0.75, 0.75);
        -ms-transform: scale(0.75, 0.75);
        transform: scale(0.75, 0.75);
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
        -o-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;*/
    }
}


.btn-group>.btn {
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
    border: rgb(179, 179, 179) 1px solid;
}

.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
    background-image: linear-gradient(rgb(230, 230, 230), rgb(255, 255, 255));
}

#navbar {
    padding-top: 7px;
}
